.container {
    display: flex;
    width: 800px;
    height: 500px;
    
    background-color: var(--background-primary);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 500px;
    overflow-y: hidden;
}

.image img {
    width: 100%;
}

.comment-section {
    flex-grow: 1;
    
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo-description {
    padding: 10px;
    border-bottom: 1px solid var(--border-primary)
}
.comments {
    flex-grow: 1;
    overflow-y: auto;
}

.comments::-webkit-scrollbar {
    display: none;
}

form {
    display: flex;
}

input[type="text"] {
    flex-grow: 1;
} 

.user-date {
    display: flex;
    justify-content: space-between;
}

.name-description {
    display: flex;
    justify-content: space-between;
}
