<div class="newQuestionMainDiv">
    <div class="newQuestionForm">
        <form action="/questions" method="post">
            <div class="input-group">
                <div class="label1">
                   TITLE
                </div>
                <div class="questionNewTitle"><input type="text" class="questionNewTitle" name="title" required=""></div>
            </div>
            <div class="input-group">
                <div class="label2">
                    <div class="bodyInner">BODY</div>
                </div>
                <div class="questionNewBody"><input type="text" class="questionNewBody" name="body" required=""></div>
            </div>
            <button type="submit" value="PUBLISH">SUBMIT</button>
        </form>
    </div>

</div>