<div class="loginMainDiv">
    <h1>Login</h1>
    <div class="loginForm">
        <form action="login" method="post">
            <input class="usernameLogin" type="text" name="username" placeholder="Enter your username" required>
            <input class="passwordLogin"  type="password" name="password" placeholder="Enter your password" required>
            <div class="loginSubmitButtonBelow">
                <input type="submit" value="LOGIN" class="submitLogin">
            </div>
        </form>
    </div>
</div>