<div class="registerMainDiv">
    <h1>Registracija</h1>
    <div class="registerForm">
        <form action="/users" method="post">
            <input class="registerEmail" type="text" name="email" placeholder="E-mail" required="">
            <input class="registerUsername" type="text" name="username" placeholder="Username" required="">
            <input class="registerPassword" type="password" name="password" placeholder="Password" required="">

            <div class="submitRegisterBelow">
                <input type="submit" value="REGISTER" class="submitRegister">
            </div>
        </form>
    </div>
</div>
