.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid var(--border-primary);
    margin-bottom: 10px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 500px;

    padding: 10px;

    border: 1px solid var(--border-primary);
    border-radius: 5px;
}

.avatar img {
    width: 48px;
    margin-right: 10px;
    border-radius: 50%;
}
