.App {
    display: flex;
    height: 100vh;
    /*background-color: #EDE8F5;*/
    background-color: red;
}

.sidebarClass {
    background-color: aliceblue;
    /*background-color: red;*/
    flex: 20%;
}

.contentClass {
    flex: 80%;
}