.addPhotoContainer {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    height: 80%;
}

.photoSelection {
    width: 70%;
    /*border: 2px solid #212f64;*/
    border: 5px solid red;
    padding: 10px;
    box-sizing: border-box;
    max-width: 40%; /* Set a max-width */
    max-height: 50%;
}

.photoSelection img {
    max-width: 100%;
}

.photoPlaceholder {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #212f64;
    cursor: pointer;
}

.photoDetails {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 5%;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup .formControl {
    margin-bottom: 3%;
    padding: 10px;
    border-radius: 20px; /* Make the input fields more round */
    font-size: 1.2em; /* Make the input fields bigger */
    border: #212f64 2px solid;
}

.btnPrimary {
    font-family: monospace;
    background-color: #212f64;
    color: white;
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 45px;
    transition: .3s;
    align-self: flex-start; /* Align the button to the left */
}

.btnPrimary:hover {
    background-color: #2b3e80;
    box-shadow: 0 0 0 3px #23336c;
    color: white;
}