.sidebar {
    background-color: blueviolet;
    height: 100vh;
    width: 90%;
    
    color: #364b96;
    color: #7091E6 ;
    color: #8697C4;
    color: #ADBBDA;
    color: #EDE8F5;
}
.sidebar a {
    text-decoration: none;
}

.fixedElement {
    box-sizing: border-box;
    top: 0;
    background: linear-gradient(to bottom, #212f64, #7a9cf4);
    position: fixed;
    padding-bottom: 100%;
    border-right: 5px solid #212f64;
    min-width: 20%;
    max-width: 20%;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1%;
}

.buttonDiv button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    width: 100%;
    border: none;
    background: none;
    text-align: center;
    padding: 10px;
    color: #EDE8F5;
    text-decoration: none;
}

.buttonDiv button:active, .buttonDiv button:focus {
    outline: none;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
}

.buttonDiv button a {
    text-decoration: none;
    color: #EDE8F5;
    text-decoration: none;
}

.buttonDiv button.active {
    background-color: #f0e7ff;
    color: Black;
    text-decoration: none;
    border: 3px solid #212f64;
    border-radius: 10px;
}
.buttonDiv button.active a {
    background-color: lightgray;
    color: Black;
    text-decoration: none;
}

.profilePic {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 1%;
    width: 50%; /* Set a percentage width */
    padding-bottom: 40%; /* Set the same value for padding-bottom */
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #EDE8F5;
}
.profilePic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }