.userProfileMainDiv {
    margin-left: 5%;
    display: flex;
    width: 100%;
}

.pfpDiv {
    margin-top: 1%;
    margin-right: 1%;
    width: 18%; /* Set a percentage width */
    padding-bottom: 15%; /* Set the same value for padding-bottom */
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #212f64;
}

.pfpDiv img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userInfoDiv {
    width: 32%;
}

.buttonStyle {
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
    background-color: #212f64; 
    color: white;
    cursor: pointer;
}
.buttonStyle:hover {
    background-color: #2b3e80; 
}
